html
{
	background-color: burlywood;
}
label,span
{
	text-align:right;
	font-size: 85%
}
div
{
    background-color: rgba(127, 255, 212, 0.18);
    border-radius: 12px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(90, 30, 80, 0.45);	
}

h1
{
	text-align: center;
}
p>img 
{
	margin: 4px 0px 0px 5px;
    width: 100px;
	max-height: 30%
	}
	
span>img 
{
	margin: 4px 0px 0px 5px;
    width: 100px;
	max-height: 30%
	}

.string
{
width: 20%;
height: 40%;
display: inline-block;	
vertical-align: top;
text-align:center;
margin: 10px 10px;
}

div p:nth-of-type(3)
{
color: red;
text-align:right;	
}

.column
{
	
}

#string:checked ~ .column {   
   display: none;
        }

#column:checked ~ .string {
            display: none;
        }
